body {
    background-color: #20232a;
    color: #ffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    background-color: #FFC300;
    border: none;
    color: #20232a;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    border-radius: 10px;
}

.block {
    background-color: #6495ED;
    border-radius: 10px;
}

h1, h2, h3, h4 {
    margin: 10px;
}

.ceares {
    display: flex;
    flex-direction: column;
    justify-content: center;
}