<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Ceares Dictionary</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='reset.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='home.css') }}">
</head>
<body>
    <div class="ceares">
        <div class="block">
            <h3><strong>Dialeto Nordestino</strong></h3>
            <h4>{{word}}</h4>
        </div>
        <br>
        <div class="block">
            <h3><strong>Dicionário</strong></h3>
            <h4>{{definition}}</h4>
        </div>
        <br>
        <form action="http://127.0.0.1:5000" method="get">
            <button>Generate</button>
        </form>
    </div>
</body>
</html>